@-ms-viewport{
    width: device-width;
  }
@media screen and (max-width:640px) {
    header {
        height:fit-content;
    }
    body {
        width: fit-content;
    }
    h1 {
        font-size: 100%;
    }
    h2.head {
        font-size: 85%;
        padding: 0 1vw;
    }
    h2.position {
        padding: 0;
    }
    div.collapse {
        display: flex;
        justify-content: space-between;
        right: 0;
        
        
        
    }
    ul.navbar-nav {
        list-style: none;
        display: inline-block;
        padding: 0;
        float: right;
    
    }
    li.nav-item {
        float: left;
    }

    a.nav-link.active, a.nav-link{
        margin-left: 2em;
        text-decoration: none;
        color: #292944;

    }
    
    img.logo {
        width: 30%;
    }
}
  
header {
    display:flex;
    position: relative;
    width: 100%;
}

.logo {
    display: flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 2%;
    width: 15%;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px double #1d1d30;
    margin: 0, 0;
    background-color: #363658
}
div.collapse {
    display: flex;
    justify-content: flex-end;
    vertical-align: bottom;
    flex-flow: row-reverse;
    position: absolute;
    margin: 0;  
}
ul.navbar-nav {
    list-style: none;
    display: inline-block;
    padding: 0;
    right: 0;
    bottom: 0;
    float: right;
    vertical-align: bottom;

}

a.nav-link.active, a.nav-link{
    margin-left: 2em;
    text-decoration: none;
    color: #292944;
}
h1 {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    right: 0;
    padding: 2vh 2vw 0 2vw;
}

h2 {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
}

h2.head {
    display: inline-block;
    position: absolute;
    padding: 2vh 2vh;
    margin: 7.5vh 2.5vw 0.5vh 2.5vw;
    right: 0;

}

h2.hook {
    margin: 0 33%;
    padding: 40px 0 20px 0;
}

h3 {
    padding-left: 5px;

}

.header-right {
    list-style-type: none;
    display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  background: transparent;
  

}


ul {
    
    margin: 6.5% 0 5% 50vw;
    background:transparent;
    
}

ul.footer-list {
    
    right: 0;
}

li.nav-item {
    display: inline;
    right: 0;
    float:left;
}

a {
    display: flex;
    text-align: center;
    padding: 0 1em;
    margin-top: 0;
    
}

a.footer-link {
    border: 2px solid ghostwhite;
}

a.nav-link:hover {
    background-color:#483d8ba0;
    color: #ffffff;
}

.active {
    background-color:#5f9ea0a9;
    color: #ffffff;
}

i.fa-brands.fa-linkedin {
    display: inline-block;
    text-align: center;
    padding: 15px;
    margin-top: 0;
    margin-left: 7%;
    margin-right: 7%;
}

img {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    padding: 0%;
    border: 3px solid #000000;
}

img.frontpg {
    
    display: inline-block;
    padding: 0;
    width: 50%;
    margin: 2% 23%;
    border: 3px solid #000000;
}

img.screenshot {
    display: block;
    left: 0;
}

img.a11y {
    width: 15%;
}

img.css {
    margin:  0 auto;
    width: 15%;
    border: none;
}

article.description {
    margin: 0 10%;
}

p.quote {
    margin: 0 25% 10% 20%;
    padding: 0;
}

p.footer {
    text-align: center;
    margin: 2.2vh 0 0 0;
}

div.frame {
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
}

div.empty {
    display: none;
}

div.item {
    margin: 0 auto;
    text-align: center;
}