
#overlay {
    position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 2, 2, 0.9); /* Black background with opacity */
  background: url(/images/8260395F-B657-486F-83A4-7195CDB83B2C_1_105_c.jpeg) no-repeat;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}











a.work{
    display:block;
    padding: 5%;

}

body {
    background-color: #e1d3c3;
}



.footer-list {
    display: inline-block;
    margin-top: 0;
    padding: 2%
}
footer {
    background: #2b3642;
background: -moz-radial-gradient(center, ellipse cover, #e6d6c6 0%, #2b3642 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e6d6c6), color-stop(100%, #2b3642));
background: -webkit-radial-gradient(center, ellipse cover, #e6d6c6 0%, #2b3642 100%);
background: -o-radial-gradient(center, ellipse cover, #e6d6c6 0%, #2b3642 100%);
background: -ms-radial-gradient(center, ellipse cover, #e6d6c6 0%, #2b3642 100%);
background: radial-gradient(ellipse at center, #e6d6c6 0%, #2b3642 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6d6c6', endColorstr='#2b3642', GradientType=1 );
    padding-bottom: 20px;
    text-align: center;
    font-family:
    'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e6dacd;
    font-size: 150%;
}
span.sr-only {
    display: none;
}
.a11y {
    background: #2b3642;
background: -moz-radial-gradient(center, ellipse cover, #e6d6c6 0%, #2b3642 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e6d6c6), color-stop(100%, #2b3642));
background: -webkit-radial-gradient(center, ellipse cover, #e6d6c6 0%, #2b3642 100%);
background: -o-radial-gradient(center, ellipse cover, #e6d6c6 0%, #2b3642 100%);
background: -ms-radial-gradient(center, ellipse cover, #e6d6c6 0%, #2b3642 100%);
background: radial-gradient(ellipse at center, #e6d6c6 0%, #2b3642 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6d6c6', endColorstr='#2b3642', GradientType=1 );
}
img.a11y {
    display: block;
    
}
form {
   text-align: center;
   
   font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}

audio {
    position: absolute;
    right: -1000;
}

.fcf-body {
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d30;
    text-align: left;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #5DADE2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    bottom: 0;
  }
 iframe {
    text-align: center;
 }

 .content .item {
    margin: 20px 0;
 }

 a.work {
    padding: 10px 0;
    margin: 10px 0;
 }