* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
style attribute {
    --text-color: #ffffff;
    --overlay-opacity: 0.0;
}
body, html {
    font-family: BogleWeb;
}
:root {
    --link-color: #1a75cf;
    --link-hover-color: #0071ce;
    --underline-color: #6cabe7;
    --underline-hover-color: #6cabe7;
    --button-bg-color: #6cabe7;
    --button-bg-hover-color: #6cabe7;
    --button-color: #6cabe7;
    --icon-color: red;
    --icon-bg-color: red;
    --icon-hover-color: red;
    --icon-bg-hover-color: red;
    --mainThemeColor: #1a75cf;
    --mainThemeColorLighter: #6cabe7;
    --mainThemeColorDarker: #1c62be;
    --moduleThemeColor: #1a75cf;
    --mainHighlightColor: #ffb700;
    --navbar-bg-color: #0071ce;
    --navbar-bg-color-opacity: rgba(26,117,207,.6);
    --navbar-bg-hover-color: red;
    --navbar-item-hover-color: red;
    --tool-icon-color: white;
    --tool-icon-hover-color: white;
    --mobile-nav-menu-item-color: red;
    --mobile-nav-submenu-bg-color: red;
    --mobile-nav-submenu-separator-color: red;
    --footer-link-color: white;
    --footer-link-hover-color: #c7e3ff;
    --footer-bg-color: #1a75cf;
    --footer-sociallinks-color: white;
    --footer-sociallinks-hover-color: white;
    --footer-sociallinks-bg-color: #1a75cf;
    --footer-sociallinks-bg-hover-color: #1a75cf;
    --section-header-background-image: true;
    --section-header-back-button-bg-color: red;
    --section-header-back-button-text-color: red;
    --section-header-text-color: red;
    --dynamic-lead-arrow-hover-color: red;
    --carousel-arrow-color: #1a75cf;
    --carousel-arrow-hover-color: #1a75cf;
    --carousel-mobile-dots-color: #1a75cf;
    --title-hover-color: red;
    --small-module-title-color: red;
    --module-faint-background-color: red;
    --spotlight-background-color: #f0f6fd;
    --tabbedBg: #3183d4;
    --articleModuleBg: #f0f6fd;
    --lang-dropdown-current-color: red;
    --lang-dropdown-arrow-color: red;
    --lang-dropdown-border-color: red;
    --lang-dropdown-entry-color: red;
Show All Properties (12 more)
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
.PromoMediaLead-media:after {
    position: absolute;
    inset: 0;
    content: '';
    background-color: var(--overlay-color);
    opacity: var(--overlay-opacity);
}