h1 {
    
    font-family: 'Optima';
    color: #2b3642;
    font-size: 350%;
    text-shadow: 2px 2px 2px#324328;
    
}

h2 {
    font-family: 'Futura', sans-serif;
    font-size: 200%;
    color: #364251;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #324328;
    text-decoration: solid;
    
}

h3 {
    font-family: "Optima", sans-serif; 
    font-size: 150%;
    font-weight: normal;
    color: #364251;
 }

 .quote, .description {
   font-family:'Times New Roman', Times, serif;
   font-size: 2rem;
   color: #1a2027;
 }

 nav#navbar {
    font-family: Optima, Verdana, Geneva, Tahoma, sans-serif;
    font-style:italic;
    color: #1a2027;  
 }
 

 li.nav-item {
    font-size: 125%;
    color: #1b2614;
 }

 p {
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
 }

 i.fa-brands.fa-linkedin {
    color: #1e2a15;
 }
 em {
   font-weight: bold;
   font-style: italic;
 }
