title: "Bluedobie Developing"
url: "https://www.bluedobiedev.com"
baseurl: ""   # leave empty at domain root
repository: "sabrebluedobie/sabrebluedobie.github.io"

# Blog posts (Bluedobie Dialogues)
collections:
  posts:
    output: true
    permalink: /blog/:title/

# Plugins (GH Pages friendly)
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-redirect-from

# Markdown/Sass (optional)
markdown: kramdown
sass:
  sass_dir: _sass
  style: compressed

# Defaults: use our layouts
defaults:
  
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      section: "post"   # we can use this to pick the nav or styles
  - scope:
      path: ""
    values:
      layout: "default"

include: ['.well-known']

# Exclude build clutter
exclude:
  - node_modules/
  - vendor/
  - .bundle/
  - Gemfile
  - Gemfile.lock
  - README.md
  - Bluedobie--Dialogues/
