nav#navbar {
    background-color: rgba(140, 165, 196, 0.3);
}

a {
    color: #29333e;
}
a:active {
    background-color: rgba (255, 255, 255, 0.9);
}

li.nav-item {
    background-color:rgba(140, 165, 196, 0.3);
}
.navbar-brand {
    display: none;
}

p {
    font-family: Optima, Script;
    font-size: 120%;
}

