---
layout: default
title: "Bluedobie Dialogues"
permalink: /blog/
---
<h1>{{ site.brand.blog_name | default: "Bluedobie Dialogues" }}</h1>

<div class="cards">
  {% for post in site.posts %}
  <article class="card">
    {% if post.image %}
      <img class="card-img" src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}">
    {% endif %}
    <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    <p class="muted">{{ post.excerpt | default: post.content | strip_html | truncate: 140 }}</p>
    <small>{{ post.date | date: "%b %e, %Y" }}</small>
  </article>
  {% endfor %}
</div>
