
/*
=================================================
Grid
=================================================
*/


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing:border-box;
}

.container, .grid {
    margin: 0 auto;
    width: 90vw;
}


.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 3vw;
    padding-right: 3vw;
}


/*
================================================
Typography
================================================
*/


h1, h3, h4, h5, p {
    margin-bottom: 2.2vh;
}


/*
=================================================
Buttons
=================================================
*/


.btn {
    color: #fff;
    cursor: pointer;
    border-radius: 5vw;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.034722222222222224vw;
    text-transform: uppercase;
    margin: 0;
}

.btn-alt {
    border: 0.06944444444444445vw solid #fff;
    padding: 1.394700139470014vh 2.0833333333333335vw;
    margin: 0 40vw;
    text-align: center;
}

.btn-alt:hover {
    background: #fff;
    color: #648880;
}

/*
===========================================
Home
===========================================
*/

header.primary-header {
    margin: 0px;
}
body {
    display: grid;
    margin: 0px;
}
section.hero.container {
    margin: 0px;
}
.hero {
    color: #fff;
    padding-left: 5vw;
    padding-top: 5vh;
    line-height: 4.4vh;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
}


.teaser a:hover h3 {
    color: #a9b2b9;
}

.teaser img {
    border-radius: 2.5vw;
    display: block;
    margin-bottom: 10vh;
    max-width: 100vw;
}

.speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 2.5vw;
    margin-top: 15vh;
    padding-bottom: 10vh;
    text-align: center;
}

.speaker-info img {
    border-radius: 50%;
    height: 25vh;
    margin: -66px 0 22px 0;
    vertical-align: top;
}

article.description {
    color:#a9b2b9;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 15vw;
    
}
article.description1 {
    font-family: 'Arapey', serif;
    color: #a9b2b9;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 2.5vw;
    line-height: 6.136680613668061vh;
    
}
p.quote, b {
    color:#fff;
    font-size: 2.25vh;
    text-align: center;
}
h2.hook {
    margin: 10vh auto; 
    font-weight: 400; 
    text-decoration: underline;
    text-align: center;
}
h2.caption4 {
    font-family: 600, 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10vh auto;
    text-align: center;
}

/*
===========================================
Clearfix
===========================================
*/


.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear:both;
}

.group {
    clear:both;
    zoom: 1;
}

/*
==========================================
Rows
==========================================
*/

.row,
.row-alt {
    min-width: 90vw; 
}

.row {
    background: #fff;
    padding: 9.205020920502092vh 0 6.136680613668061vh 0;
}

.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #128783, #b7ebf2);
    padding: 6.136680613668061vh 0 3.0683403068340307vh 0;
}
.bookingpg {
    min-width: none;
    max-width: 95vw;
}

#dogs, #sabresmile, #profile-img {
    display: flex;
    position: relative;
    min-width:auto;
    max-width: 60vh;
    min-height:auto;
    margin: 5vh 30vw;
}

#jigsaw {
    border:0;
    width:12.104539202200826vw;
    height:4.323570432357044vh;
}
footer {
    color:#aad0c8;
}

/*
===========================================
Primary header
===========================================
*/

.logo {
    border-top: 1vh solid #648880;
    padding: 5.578800557880056vh 0 3.0683403068340307vh 0;
    float: left;
    font-size: 4.8vh;
    font-weight: 100;
    line-height: 4.4vh;
    text-transform: uppercase;
    min-height: 5vh;
    max-height: 20vh;

}
img.logo {
    border: 0.3472222222222222vw solid #042d4d;
    padding: 0;
    margin: 3vh, 3vw;
}
img.frontpgimg {
   min-width: 0;
   max-width: 25vw;
}
.heroimg {
    max-width: 75%;
    border-width: 25px;
    border-color: #8fada7;
    border-style: solid;
}

.iframe-container {
    display: flex;
    justify-content: center;
    height: 40vh;
    border-bottom: 10vh;
}
iframe.frontend {
    display: grid;
    align-self: center;
    max-width: 60%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

img.construction {
    max-width: 75%;
    border-width: 25px;
    border-style: solid;
    border-color: black;
    margin-left: 15%
}
a.tagline {
    display: grid;
    margin-right: 1vw;
    text-align: right;
    font-size: 2.5vw;
}

.primary-nav {
    font-size: 1.9257221458046767vw;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    float: right;
    margin: 3.75vh;
}


/*
===========================================
Primary footer
===========================================
*/


.primary-footer small {
    float:left;
    font-weight: 400;
    color: #aad0c8;
}

.primary-footer {
    padding-bottom: 44px;
    padding-top: 44px;
    color: #abc5bf;
    font-size: 14px;
}

/*
===========================================
Custom Styles
===========================================
*/

body {
    background: #293f50;
    color:#888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    color: #8fada7
}
.contact {
   color:#042d4d;
}
.caption1, .caption3 {
    color:#021b2d;
}
.caption1 {
    font-size: 1.5277777777777777vw;
    text-decoration: underline;
}
.caption2 {
    color: #556a65;
}
.caption3 {
    font-weight: 300;
}
p.caption3 {
    font-family: 'Arapey', serif;
    font-style: italic;
    color: #021b2d;
    font-size: 1.5277777777777777vw;
}
h3.caption2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.9444444444444444vw;
}
.container {
    margin: auto;
}
h1.lead {
    color: #293f50;
    font-size: 7vh;
    line-height: 8vh;
    font-weight: bold;
    position: top;
    position: relative;
    top: -7vh;
    text-decoration: underline;
}
.label {
    color: #44655f;
}
.lead.container {
    display: inline-block;
    margin-top: 8%;
}
p.portfolio {
    font-size: 5vh;
    line-height: 6.5vh;
    text-align: center;
}
a.citation {
    text-decoration: underline;
}

p.contact {
    font-size: 2.5vw;
    line-height: 7vh;
    position: relative;
    top: 3vh;
    margin-bottom: 5vh;
    text-align: center;
    margin-left: 5%;
}
.contactform {
    display: inline-block;
    margin-top: 10%;
    margin-left: 25%;
    max-width: 60%;
    max-height: auto;
    
}
.contactnav {
    margin-bottom: 5%;
}
iframe.bookings {
    width: 25%;
    margin: auto;
    max-height: max-content;
    
}
.bookings {
    display: inline-block;
    margin-left: 25%;
    margin-top: 5%;
}
.aboutarticle {
    font-family: 'Arapey', 'Times New Roman', Times, serif;
    font-size: 3vh;
    font-style:italic;
    line-height: 5vh;
    color: #a9b2b9;
}
.aboutnav {
    margin-bottom: 5%;
}
h2.About {
    margin-top: 5%;
    font-size: 3vw;

}
#sabresmile, #dogs, #profile-img {
    vertical-align: center;
}
.frame {
    margin-bottom: 2.5%;
}
.a11y {
    display: inline-block;
    max-width: 40%;
}
h1 {
    font-size: 6.2717770034843205vw;
    line-height: 6.136680613668061vh;
}

h2 {
    font-size: 4.181184668989547vw;
    line-height: 6.136680613668061vh;
}
h2.contact, h2.contactform {
    font-size: 4.75vh;
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: center;
    color: #023254;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    font-size: 3.658536585365854vw;
}

h4 {
    font-size: 3.1358885017421603vw;
}

h5 {
    color: #3f4346;
    font-size: 2.4390243902439024vw;
    font-weight: 400;
    text-transform: uppercase;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

/* 
=======================================
Links
=======================================
*/

a {
    color: #648880;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #648880;
}
/*
======================================
Navigation
======================================
*/

.nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 1.7421602787456445vw;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}


/* 
======================================
Leads
======================================
*/

.lead {
    text-align: center;
}

p.lead {
    font-size: 3.658536585365854vw;
    line-height: 5.7491289198606275vw;
}

/*
======================================
Speakers
======================================
*/

.speaker-info {
    border: 0.17421602787456447vw solid #dfe2e5;
    border-radius: 0.8710801393728222vw;
    margin-top: 12.273361227336123vh;
    padding: 3.0683403068340307vh 0;
    text-align: center;
}

.speaker {
    margin-bottom: 6.136680613668061vh;
}

/*
======================================
Venue
======================================
*/

.venue-theatre {
    margin-bottom: 9.205020920502092vh;
}

.venue-hotel {
    margin-bottom: 3.0683403068340307vh;
}

.venue-map {
    height: 36.82008368200837vh;
}


/*
=======================================
Media
=======================================
*/

@media all and (max-width: 500px) {
    .row {
        width: 90vw;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        width: 90vw;
    }
    .col-1-3 {
        
        min-width: -moz-fit-content; 
        min-width: fit-content;
        min-width: -webkit-fill-available;
        min-width: fit-content;
        max-width: 90vw;
        max-height: -moz-fit-content;
        max-height:fit-content;
        
    }
    .col-2-3 {
        max-width: 90vw;
    }
    img.logo {
        max-width: 25%
    }
    section.teaser, section.col-1-3 {
        margin: 0;
        padding: 0;
    }
    a.tagline {
        text-align: right;
        font-size: 1.75vh;
        margin-top: 3vh;
        display: none;
    }
    div.row {
        position: relative;
    }
    .frontpgimg {
        min-width: fit-content;
        min-width: -moz-fit-content;
        max-width: 40vw;
        max-height: fit-content;
        max-height: -moz-fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    a.logo {
        font-size: 2vh;
        position: absolute;
        right: -400;
        text-align: right;
        top: 0vh;
        margin: 0;
        padding: 0;
        line-height: 3vh;
        margin-right: .5vw;
        display: inline-block;
       
    }
    .primary-nav {
        display: inline-block;
        position: relative;
        font-size: 0.6vh;
        text-align: center;
        margin: 0;
        padding: 0;
        top: -3vh;
        margin-top: 1vh;
    }
    
    .heroimg {
        position: relative;
        max-width: 90%;
        top: -5vh;
    }
    
    h1.logo {
        margin: 2vh;
        margin-left: 2vh;
    }
    .caption1 {
        font-size: 3.3333333333333335vw;
        text-decoration: underline;
   
    }
    .caption2 {
        position: relative;
    }
    p.caption3 {
        color: #021b2d;
        font-size: 3.3333333333333335vw;
        position: relative;
        font-size: 2vh;
        line-height: 3vh;
        top: -10vh;
    }
    h3.caption2 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 3.3333333333333335vw;
        top: -10vh;
    }
    h2.hook {
        margin: 5vh auto;
        position: relative;
        top: -4vh;
    }
    .iframe-container {
        position: relative;
        top: -15vh;
        
    }
    iframe.frontend {
        max-width: 80%;
        max-height: 70%;
    }
    h2.caption4 {
        margin: 5vh auto;
        position: relative;
        margin: 0;
        padding: 0;
        top: -15vh;
    }
    .btn-alt {
        position: relative;
        border: 0.06944444444444445vw solid #fff;
        padding: 1.394700139470014vh 5.0833333333333335vw;
        margin: 0 29vw;
        top: -10vh;
        
    }
    nav.nav {
        display: block;
        position: relative;
        font-size: 1.25vh;
    }
    article.description1 {
        position: relative;
        line-height: 2.5vh;
        font-size: 2vh;
        margin: 0;
        padding: 0;
        top: -15vh;
        margin-left: 3.5vw;
        text-align: center;
        
    }
    .primary-footer {
        display: block;
        position: relative;
        font-size: 1.25vh;
        top: -11vh;

    }
    .aboutarticle {
        position: relative;
        top: -5vh;
        font-size: 2.5vh;
        line-height: 4vh;
    }
    h2.About {
        position: relative;
        top: -3vh;
        font-size: 3vh;
    }
    #sabresmile, #dogs, img#profile-img {
        position: relative;
        margin: auto;
        max-width: 80%;
        margin-top: 3vh;
    }
    p.quote {
        position: relative;
        top: -4vh;
        line-height: 3vh;
        max-width: 80%;
        margin: auto;
    }
    iframe.bookings {
        display: initial !important;
        position: inherit;
        margin: auto;
        width: max-content;
        width: 400px;
        min-width: max-content;
        max-height: max-content;
        height: 2900px;
    }
    section.row-alt {
        position: relative;
        min-height:fit-content;
        height: auto;
        max-height:min-content;
        padding: 0;
    }
    h1.lead {
        position: relative;
        margin: 0;
        padding: 0;
        top: -2.5vh;
    }
    p.portfolio {
        position: relative;
        margin-left: 2.5vw;
        top: -2.5vh;
    }
    h2.contact, h2.contactform {
        font-size: 8vw;
        color:#021b2d;
        text-align: center;
        margin-left: 10%;
        font-style: bold;
    }
    iframe.contactform {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 90%;
        max-height: fit-content;
    }
    nav.contact {
        position: relative;
        top: -.5vh;
    }
    p.contact {
        font-size: 4.5vw;
        line-height: 5.5vh;
    }
    
    @media screen and (orientation: portrait) {
    }

    @media screen and (orientation: landscape) {  
    }