
/*
=================================================
Grid
=================================================
*/
.sub-block { 

    border: 1px solid #030303; 

    padding: 20px; 

    margin: 10px 0; 

    height: 50px; 

    text-align: center; 
} 

  
#content-before-loading { 

    text-align: center; 

    display: none; 

    font-size: 16px; 

    margin-top: 20px; 

    max-width: 100%; 

    margin: 20px auto; 

    padding: 20px; 

    
}

Content-Security-Policy: default-src: none;
   frame-src: youtube.com www.youtube.com;
   report-uri: /tst/csp.php?hash=49327997c95cb8a9f1b3471df9f71f91


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.container, .grid {
    margin: 0 auto;
    width: 90vw;
}


.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 3vw;
    padding-right: 3vw;
}


/*
================================================
Typography
================================================
*/


h1, h3, h4, h5, p {
    margin-bottom: 2.2vh;
}

body {
    color:#dfe2e5;
    margin: 2.5vw 2.5vh;
}
p.privacy {
    color: #abc5bf;
    font-size: 1.5vh;
    margin: 2vh 2vw;
}
a.privacy {
    color: #ffffff;
}
span.content, span#policy {
    color:#dfe2e5;
    margin: 0 44vw;
    
}
p.documentTitle {
    text-align: center;
    color:#dfe2e5;
    font-weight: 400;
}
p.content {
    color:#dfe2e5;
}
p#date {
    text-align: center;
}
u#purpose, u#consent, u#personal {
    font-weight: 400;
    color:#dfe2e5;
}
ol.toc, li.toc, span.toc{
    color:#dfe2e5;

}

/*
=================================================
Buttons
=================================================
*/


.btn {
    color: #fff;
    cursor: pointer;
    border-radius: 5vw;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.034722222222222224vw;
    text-transform: uppercase;
    margin: 0;
}

.btn-alt {
    border: 0.06944444444444445vw solid #fff;
    padding: 1.394700139470014vh 2.0833333333333335vw;
    margin: 0 40vw;
    text-align: center;
}

.btn-alt:hover {
    background: #fff;
    color: #648880;
}

/*
===========================================
Home
===========================================
*/

header.primary-header {
    margin: 0px;
}
body {
    
    display: -ms-grid;
    display: grid;
    margin: 0px;
}
section.hero.container {
    margin: 0px;
}
.hero {
    color: #fff;
    padding-left: 5vw;
    padding-top: 5vh;
    line-height: 4.4vh;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
}


.teaser a:hover h3 {
    color: #a9b2b9;
}

.teaser img {
    border-radius: 2.5vw;
    display: block;
    margin-bottom: 10vh;
    max-width: 100vw;
}

.speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 2.5vw;
    margin-top: 15vh;
    padding-bottom: 10vh;
    text-align: center;
}

.speaker-info img {
    border-radius: 50%;
    height: 25vh;
    margin: -66px 0 22px 0;
    vertical-align: top;
}

article.description {
    color:#a9b2b9;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 15vw;
    
}
article.description1 {
    font-family: 'Arapey', serif;
    color: #a9b2b9;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 2.5vw;
    line-height: 6.136680613668061vh;
    
}
p.quote, b {
    color:#fff;
    font-size: 2.25vh;
    text-align: center;
}
h2.hook {
    margin: 5vh auto 2.5vh auto; 
    font-weight: 400; 
    text-decoration: underline;
    text-align: center;
}
h2.caption4 {
    font-family: 600, 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 10vh auto;
    text-align: center;
}
article.wizard {
    color:#f6f1d3;
    font-size: 2.5vh;
    line-height: 3.5vh;
    margin: 5vh 5vw 0 5vw;
    text-align: set;
}
h2.wizard {
    font-size: 4.5vh;
    text-align: center;
}
h3.wizard {
    font-size: 3.5vh;
    color:#cbe2c1;
    font-style: italic;
    font-family: Times, 'Times New Roman', serif;
    text-align: center;
}

/*
===========================================
Clearfix
===========================================
*/


.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear:both;
}

.group {
    clear:both;
    zoom: 1;
}

/*
==========================================
Rows
==========================================
*/

.row,
.row-alt {
    min-width: 90vw; 
}

.row {
    background: #fff;
    padding: 9.205020920502092vh 0 6.136680613668061vh 0;
}

.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #128783, #b7ebf2);
    padding: 6.136680613668061vh 0 3.0683403068340307vh 0;
}
.bookingpg {
    min-width: none;
    max-width: 95vw;
}

#dogs, #sabresmile, #profile-img {
    display: flex;
    position: relative;
    min-width: 1vw;
    max-width: 60vh;
    min-height:1vh;
    margin: 5vh 30vw;
}

#jigsaw {
    border:0;
    width:12.104539202200826vw;
    height:4.323570432357044vh;
}
footer {
    color:#aad0c8;
}

/*
===========================================
Primary header
===========================================
*/

.logo {
    border-top: 1vh solid #648880;
    padding: 5.578800557880056vh 0 3.0683403068340307vh 0;
    float: left;
    font-size: 4.8vh;
    font-weight: 100;
    line-height: 4.4vh;
    text-transform: uppercase;
    min-height: 5vh;
    max-height: 20vh;

}
img.logo {
    border: 0.3472222222222222vw solid #042d4d;
    padding: 0;
    margin: 3vh, 3vw;
}
img.frontpgimg {
   min-width: 0;
   max-width: 25vw;
}
.heroimg {
    max-width: 75%;
    border-width: 25px;
    border-color: #8fada7;
    border-style: solid;
}

div.iframe-container {
    display: flex;
    justify-content: center;
    margin: 0 auto 5vh auto;
    height: 40vh;
    border-bottom: 10vh;
}
iframe.frontend {
    
    display: -ms-grid;
    display: grid;
    align-self: center;
    max-width: 60%;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

img.construction {
    max-width: 75%;
    border-width: 25px;
    border-style: solid;
    border-color: black;
    margin-left: 15%
}
a.tagline {
    
    display: -ms-grid;
    display: grid;
    margin-right: 1vw;
    text-align: right;
    font-size: 2.5vw;
}

.primary-nav {
    font-size: 1.9257221458046767vw;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    float: right;
    margin: 3.75vh;
}


/*
===========================================
Primary footer
===========================================
*/


.primary-footer small {
    float:left;
    font-weight: 400;
    color: #aad0c8;
}

.primary-footer {
    padding-bottom: 44px;
    padding-top: 44px;
    color: #abc5bf;
    font-size: 14px;
}

/*
===========================================
Custom Styles
===========================================
*/

body {
    background: #293f50;
    color:#888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    color: #8fada7
}
img.sabresprite {
    display: none;
    height: 6vh;
    width: 4vw;
    margin-right: 1vw;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
img.sabrespritereg {
    margin-left: 1vw;
    height: 6.5vh;
    width: 3vw;
}
.contact {
   color:#042d4d;
}
.caption1, .caption3 {
    color:#021b2d;
}
.caption1 {
    font-size: 1.5277777777777777vw;
    text-decoration: underline;
}
.caption2 {
    color: #556a65;
}
.caption3 {
    font-weight: 300;
}
p.caption3 {
    font-family: 'Arapey', serif;
    font-style: italic;
    color: #021b2d;
    font-size: 1.5277777777777777vw;
}
h3.caption2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.9444444444444444vw;
}
.container {
    margin: auto;
}
h1.lead {
    color: #293f50;
    font-size: 7vh;
    line-height: 8vh;
    font-weight: bold;
    position: top;
    position: relative;
    top: -7vh;
    text-decoration: underline;
}
.label {
    color: #44655f;
}
.lead.container {
    display: inline-block;
    margin-top: 5%;

}
p.portfolio {
    font-size: 5vh;
    line-height: 6.5vh;
    text-align: center;
    margin: 0 5vw;
    color:#042d4d;
}
a.citation {
    text-decoration: underline;
}

p.contact {
    font-size: 2.5vw;
    line-height: 7vh;
    position: relative;
    top: 3vh;
    margin-bottom: 5vh;
    text-align: center;
    margin-left: 5%;
}
.contactform {
    display: inline-block;
    margin-top: 10%;
    margin-left: 25%;
    max-width: 60%;
    max-height: auto;
    
}
.contactnav {
    margin-bottom: 5%;
}
iframe.bookings {
    width: 25%;
    margin: auto;
    max-height: max-content;
    
}
.bookings {
    display: inline-block;
    margin-left: 25%;
    margin-top: 5%;
}
.aboutarticle {
    font-family: 'Arapey', 'Times New Roman', Times, serif;
    font-size: 3vh;
    font-style:italic;
    line-height: 5vh;
    color: #a9b2b9;
}
.aboutnav {
    margin-bottom: 5%;
}
h2.About {
    margin-top: 5%;
    font-size: 3vw;

}
#sabresmile, #dogs, #profile-img {
    vertical-align: center;
}
#coupon {
    text-align: center;
    font-size: 4vh;
    color:cornsilk;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3vh;
    border: 2px solid cornsilk;
    padding: 2vh 0;
}
h3.stats {
    color:#042d4d;
    font-size: 5.5vh;
    font-weight: 400;
    border: 3px solid #042d4d;
    padding: 1.5vh 0;
    background-color: lightgoldenrodyellow;
    display:grid;
    place-items: center;
}
h4.stats {
    font-size: 4.25vh;
    font-weight: 400;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p.stats {
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 2.5vh;
    margin: 5vh auto;
    
}
a.payment {
    position:relative;
    text-align: center;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4vh;
    border: 3px solid #8fada7;
    padding: 2vh 0vw;
    background-color: #dfe2e5;

}
i.statcaption {
    
    display:-ms-flexbox;
    display: flex;
    padding: 0;
    margin:0 auto;
    float: inline-start;
    font-weight: 400;
    font-size: 2.5vh;
    color: #293f50;
    border: 2px solid #042d4d;
    background-color: lightgray;
}
    
.frame {
    margin-bottom: 2.5%;
}
.a11y {
    display: inline-block;
    max-width: 40%;
}
h2.Kenspage, h2#Kensname {
    display: grid;
    position: relative;
    margin: 0;
    padding: 1.5vh 0 1.5vh 0;
    font-size: 6.75vh;
    
    border: 2px solid #3f4346;
    background-color: #3f4346;
    color:orange;
    font-weight: 400;
    align-items: center;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
div#back {
    background-color:#9ccdf0;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
section#Kens.row {
    background-color: #9ccdf0;
}
h2.label {
    display: grid;
    position:relative;
    font-size: 5vh;
    text-align: center;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid #3f4346;
    background-color:#3f4346;
    color: orange;
    margin: 0;
}
h5.Kenspage {
    text-decoration: underline;
    margin-top: 7.5vh;
    font-size: 4vh;
    color: #000;

}
p.Kenspage {
    font-size: 3.5vh;
    line-height: 4.5vh;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto 3.5vw;
    color: #3f4346;
}
img.Kenspage {
    display: grid;
    position: relative;
    margin: 0 auto;

}
img.Kenslogo {
    display: grid;
    position: relative;
    margin: 0 auto;
}
img.Kensicon {
    display: grid;
    position: relative;
    margin: 0 auto;
}
i.Kenspage, i.Kenslogo, i.Kensicon {
    display: grid;
    position: relative;
    text-align: center;
    font-size: 2.5vh;
    color: #3f4346;
}

h1 {
    font-size: 6.2717770034843205vw;
    line-height: 6.136680613668061vh;
}

h2 {
    font-size: 4.181184668989547vw;
    line-height: 6.136680613668061vh;
}
h2.contact, h2.contactform {
    font-size: 4.75vh;
    margin: 0;
    padding: 0;
    margin: auto;
    text-align: center;
    color: #023254;
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    font-size: 3.658536585365854vw;
}

h4 {
    font-size: 3.1358885017421603vw;
}

h5 {
    color: #3f4346;
    font-size: 2.4390243902439024vw;
    font-weight: 400;
    text-transform: uppercase;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

/* 
=======================================
Links
=======================================
*/

a {
    color: #648880;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}

p a {
    border-bottom: 1px solid #dfe2e5;
}

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #648880;
}
/*
======================================
Navigation
======================================
*/

.nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 1.7421602787456445vw;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}


/* 
======================================
Leads
======================================
*/

.lead {
    text-align: center;
}

p.lead {
    font-size: 3.658536585365854vw;
    line-height: 5.7491289198606275vw;
}

/*
======================================
Speakers
======================================
*/

.speaker-info {
    border: 0.17421602787456447vw solid #dfe2e5;
    border-radius: 0.8710801393728222vw;
    margin-top: 12.273361227336123vh;
    padding: 3.0683403068340307vh 0;
    text-align: center;
}

.speaker {
    margin-bottom: 6.136680613668061vh;
}

/*
======================================
Venue
======================================
*/

.venue-theatre {
    margin-bottom: 9.205020920502092vh;
}

.venue-hotel {
    margin-bottom: 3.0683403068340307vh;
}

.venue-map {
    height: 36.82008368200837vh;
}


