/*
=======================================
Media
=======================================
*/

@media all and (max-width: 500px) {
    .row {
        width: 90vw;
    }
    .grid {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        width: 90vw;
    }
    .col-1-3 {
        
        min-width: -moz-fit-content; 
        min-width: fit-content;
        min-width: -webkit-fill-available;
        min-width: fit-content;
        max-width: 90vw;
        max-height: -moz-fit-content;
        max-height:fit-content;
        
    }
    .col-2-3 {
        max-width: 90vw;
    }
    img.logo {
        max-width: 25%
    }
    section.teaser, section.col-1-3 {
        margin: 0;
        padding: 0;
    }
   
    h2.tagline, a#tagline.tagline {
        display: none;
    }
    a.btn-alt {
        margin-top: 10vh;
    }
    a.payment {
        position: relative;    margin: 0;
        top: -20vh;
        line-height: 5vh;
    }
    #coupon {
        font-size: 2.5vh;
        line-height: 3.5vh;
    }
    div.row {
        position: relative;
        top: -20vh;
    }
    h3.stats {
        font-size: 5vh;
        line-height: 5.5vh;
    }
    i.statcaption {
        top: -5vh;
    }
    img.sabrespritereg {
        height: 6vh;
        width: 10vw;
    }
    
    .frontpgimg {
        min-width: fit-content;
        min-width: -moz-fit-content;
        max-width: 40vw;
        max-height: fit-content;
        max-height: -moz-fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .primary-header a:hover {
        display: none;
    }
   h1.logo, a.logo {
        font-size: 2vh;
        position: relative;
        text-align: right;
        top: -6vh;
        margin-left: 9vh;
        padding: 0;
        line-height: 3vh;
        display: inline-block;
        border-top: none;
       
    }
    .primary-nav {
        display: inline-block;
        position: fixed;
        position: top;
        font-size: 0.6vh;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 1vh;
    }
    
    .heroimg {
        position: relative;
        max-width: 90%;
        top: -5vh;
    }
    
    .caption1 {
        font-size: 3.3333333333333335vw;
        text-decoration: underline;
   
    }
    .caption2 {
        position: relative;
    }
    p.caption3 {
        color: #021b2d;
        font-size: 3.3333333333333335vw;
        position: relative;
        font-size: 2vh;
        line-height: 3vh;
    }
    i.statcaption {
        display:grid;
        border: 2px solid #042d4d;
        background-color: lightgray;
        margin: 0;
        padding: 0 1.5vw;
    }
    h3.caption2 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 3.3333333333333335vw;
    }
    h2.hook {
        margin: 5vh auto;
        position: relative;
        top: -4vh;
    }
    .iframe-container {
        position: relative;
        top: -15vh;
        
    }
    iframe.frontend {
        max-width: 80%;
        max-height: 70%;
    }
    h2.caption4 {
        margin: 5vh auto;
        position: relative;
        margin: 0;
        padding: 0;
        top: -15vh;
    }
    .btn-alt {
        position: relative;
        border: 0.06944444444444445vw solid #fff;
        padding: 1.394700139470014vh 5.0833333333333335vw;
        margin: 0 29vw;
        top: -10vh;
        
    }
    nav.nav {
        display: block;
        position: relative;
        font-size: 1.25vh;
        z-index: 2;
    }
    article.description1 {
        position: relative;
        line-height: 2.5vh;
        font-size: 2vh;
        margin: 0;
        padding: 0;
        top: -15vh;
        margin-left: 3.5vw;
        text-align: center;
        
    }
    .primary-footer {
        display: block;
        position: relative;
        font-size: 1.25vh;
        top: -11vh;

    }
    
    .aboutarticle {
        position: relative;
        top: -5vh;
        font-size: 2.5vh;
        line-height: 4vh;
    }
    h2.About {
        position: relative;
        top: -3vh;
        font-size: 3vh;
    }
    #sabresmile, #dogs, img#profile-img {
        position: relative;
        margin: auto;
        max-width: 80%;
        margin-top: 3vh;
    }
    p.quote {
        position: relative;
        top: -4vh;
        line-height: 3vh;
        max-width: 80%;
        margin: auto;
    }
    iframe.bookings {
        display: initial !important;
        position: inherit;
        margin: auto;
        width: max-content;
        width: 400px;
        min-width: max-content;
        max-height: 90%;
        height: 2900px;
    }
    section.row-alt {
        position: relative;
        min-height:fit-content;
        min-height: -moz-fit-content;
        height: auto;
        max-height:min-content;
        padding: 0;
    }
    h1.lead {
        position: relative;
        margin: 0;
        padding: 0;
        top: -2.5vh;
    }
    p.portfolio {
        position: relative;
        margin-left: 2.5vw;
        top: -2.5vh;
    }
    h2.contact, h2.contactform {
        font-size: 8vw;
        color:#021b2d;
        text-align: center;
        margin-left: 10%;
        font-style: bold;
    }
    iframe.contactform {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 90%;
        max-height: fit-content;
        max-height: -moz-fit-content;
    }
    nav.contact {
        position: relative;
        top: -.5vh;
    }
    p.contact {
        font-size: 4.5vw;
        line-height: 5.5vh;
    }
    
    @media screen and (orientation: portrait) {
    }

    @media screen and (orientation: landscape) {  
    }
}