/*
=======================================
Media
=======================================
*/

@media all and (max-width: 500px) {
    body {
        max-width: 100%;
    }
    .row {
        max-width: 100%;
    }
    .grid {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        max-width: 100%;
    }
    .col-1-3 {
        
        min-width: -moz-fit-content; 
        min-width: fit-content;
        min-width: -webkit-fill-available;
        min-width: fit-content;
        max-width: 95vw;
        max-height: -moz-fit-content;
        max-height:fit-content;
        
    }
    .col-2-3 {
        max-width: 95vw;
    }
    section.hero-container {
        position: relative;
    }
    header.primary-header, .container, .group {
        padding-bottom: 0;
        margin-bottom: 0;
        max-width: 100%;
        margin: 0;
    }
   a.logo img.logo {
        position: absolute;
        max-width: 25%;
        z-index: -1;
        top: 1vh;
    }
    section.teaser, section.col-1-3 {
        margin: 0;
        padding: 0;
    }
   
    a#tagline.tagline, h2.tagline{
        display: none;
        visibility: hidden;

    }
    a.btn-alt {
        position: relative;
        top:-30vh;
    }
    a.payment {
        position: relative;    margin: 0;
        top: -20vh;
        line-height: 5vh;
    }
    #coupon {
        font-size: 2.5vh;
        line-height: 3.5vh;
    }
    div.row {
        position: relative;
        top: -20vh;
    }
    h3.stats {
        font-size: 5vh;
        line-height: 5.5vh;
    }
    i.statcaption {
        top: -5vh;
    }
    img.sabrespritereg {
        height: 6vh;
        width: 10vw;
    }
    
    img.frontpgimg {
        position: relative;
        min-width: auto;
        min-width: -moz-fit-content;
        max-width: 40vw;
        max-height: auto;
        max-height: -moz-fit-content;
        margin-left: auto;
        margin-right: auto;
        background-color: aliceblue;
        top: -25;
    }
    .primary-header a:hover {
        display: none;
    }
    h1#index {
        position: absolute;
        margin-top: 8.5vh;
        font-size: 1.75vh;
        text-align: right;
    }
    h1#schedule {
        position: absolute;
        margin-top: 7.5vh;
        margin-right: 1.5vw;
    }
    h1#about1 {
        position: absolute;
        top: 7.5vh;
        right: 2vw;
    }
    h1#info {
        position: absolute;
        margin-top: 7.5vh;
        margin-right: 2.5vw;
    }
    h1#portfolio {
        position: relative;
        margin-top: -25vh;
        display: inline;

    }
    div.logo {
        position: relative;
        background-color: #042d4d;
        top:5vh;
        padding-bottom: 10vh;
        z-index: -2;
        
    }
    div.text {
        font-family: 'Arapey', 'Times New Roman', Times, serif;
        font-style: italic;
    }
    div#portfolio2 {
        position: relative;
        display: inline;
        margin-top: -5vh;
        z-index: -1;
    }
    img#portfolio3 {
        position: relative;
        top: -12.5vh;
    }
    
    
   h1.logo {
        font-size: 2vh;
        position: absolute;
        text-align: right;
        margin-left: 35vw;
        padding: 0;
        margin-top: 0;
        line-height: 3vh;
        display: inline-block;
        z-index: -1;
        color: #fff;
       
    }
    h1#contact3 {
        position: relative;
        margin-right: 1.5vw;
        z-index: -1;
    }
   
    div.slideshow-container {
        position: relative;
        z-index:-2;
    }

    div.slideshow-container1 {
        position: relative;
        z-index: -1;
    }
    div.dots {
        text-align: center;
        display: none;
    }
    div.text {
        position: relative;
        color: #000;
    }
    div.text1 {
        position: relative;
        color: #fff;
        font-family: 'Arapey', 'Times New Roman', serif;
        font-style: italic;
    }
    h3.click {
        position: relative;
        font-family: 'Arapey', 'Times New Roman', Times, serif;
        text-align: center;
        color:cornsilk
    }
    .heroimg {
        position: relative;
        max-width: 90%;
        top: -5vh;
    }
    
    .caption1 {
        font-size: 3.3333333333333335vw;
        text-decoration: underline;
   
    }
    .caption2 {
        position: relative;
    }
    p.caption3 {
        color: #d2dde6;
        font-size: 3.3333333333333335vw;
        position: relative;
        font-size: 2vh;
        line-height: 3vh;
    }
    i.statcaption {
        display:grid;
        border: 2px solid #042d4d;
        background-color: lightgray;
        margin: 0;
        padding: 0 1.5vw;
    }
    h3.caption2 {
        text-decoration: underline;
        font-weight: bold;
        font-size: 3.3333333333333335vw;
    }
    h2.hook {
        margin: 5vh auto;
        position: relative;
        top: 9vh;
        z-index: -2;
        color: lightblue;
        
    }
    .iframe-container {
        position: relative;
        top:-2.5vh;
        margin: 0;
        z-index: -2;
        
    }
    iframe.frontend {
        max-width: 80%;
        max-height: 70%;
    }
   
    img.venngage {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        top:-10vh;
    }
    h5.caption1 {
        position: relative;
        color:#fff;
        top: vh;
    }
    h3.caption2 {
        position: relative;
        top: -30vh;
        color: #fff;
        text-align: center;
    }
    img.con
    h2.caption4 {
        margin: 5vh auto;
        position: relative;
        margin: 0;
        padding: 0;
        top: -15vh;
    }
    .btn-alt {
        position: relative;
        border: 0.06944444444444445vw solid #fff;
        padding: 1.394700139470014vh 5.0833333333333335vw;
        margin: 0 29vw;
        top: -10vh;
        
    }
   
    article.description1, article.description {
        position: relative;
        display: inline;
        line-height: 2.5vh;
        font-size: 2vh;
        margin: 0;
        padding: 0;
        margin-left: 3.5vw;
        text-align: center;
        margin-top: 15vh;
        z-index: -2;
        
    }
    .primary-footer {
        display: block;
        position: relative;
        font-size: 1.25vh;
        top: -5vh;
    

    }
    p#about {
        top: 1.5vh;
    }
    p.privacy {
        position: relative;
        top:-5vh;
    }
    
    .aboutarticle {
        position: relative;
        top: -5vh;
        font-size: 2.5vh;
        line-height: 4vh;
    }
    h2.About {
        position: relative;
        top: -3vh;
        font-size: 3vh;
    }
    #sabresmile, #dogs, img#profile-img {
        position: relative;
        margin: auto;
        max-width: 80%;
        margin-top: 3vh;
    }
    p.quote {
        position: relative;
        top: -4vh;
        line-height: 3vh;
        max-width: 80%;
        margin: auto;
    }
    iframe.bookings {
        display: initial !important;
        position: relative;
        margin: auto;
        width: max-content;
        width: 400px;
        min-width: max-content;
        max-height: 90%;
        height: 2900px;
        
        z-index:-2;
    }
    section.row-alt {
        position: relative;
        min-height:fit-content;
        min-height: -moz-fit-content;
        height: auto;
        max-height:min-content;
        padding: 0;
    }
    h1.lead {
        position: relative;
        margin: 0;
        padding: 0;
        top: -2.5vh;
    }
    p.portfolio {
        position: relative;
        margin-left: 2.5vw;
        top: -2.5vh;
    }
    h2.contact, h2.contactform {
        font-size: 8vw;
        color:#021b2d;
        text-align: center;
        margin-left: 10%;
        font-style: bold;
    }
    iframe.contactform {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 90%;
        max-height: fit-content;
        max-height: -moz-fit-content;
        
        z-index: -1;
    }
    header#navbar {
        position: relative;
        z-index: 0;
    }
    nav.navbar-container .container {
        position: relative;
        z-index: 0;
    }
    nav.contact {
        position: relative;
        top: -.5vh;
    }
    p.contact {
        font-size: 4.5vw;
        line-height: 5.5vh;
    }
    a.about {
        margin-top: 2vh;
    }
    h2.lead {
        position: relative;
        margin: 0 1vw;
        font-size: 4.5vh;
        text-align: center;
        margin-top: 25vh;
        margin-bottom: 2.5vh;
        color:darkslateblue;
        z-index: -2;
        
    }
    p.portfolio {
        position: relative;
        font-size: 2.5vh;
        line-height: 3.5vh;
        text-align: left;
        font-family: 'Arapey', 'Times New Roman', Times, serif;
        z-index: -2;
        
    }
    section#Kens.row {
        position: relative;
        margin: 0;
        padding: 0;
        top: -20vh;
        z-index: -2;
    }
    h2#Kensname.Kenspage {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
        margin-top: 25vh;
    }
    h5.Kenspage {
        position: relative;
        font-size: 3vh;
        margin: auto 2.5vw;
        text-align: left;
    }
    p.Kenspage {
        font-size: 2.5vh;
    }
    h2.label {
        position: relative;
        font-size: 3vh;
        line-height: 4vh;
        margin: 0;
        padding: 0;
    }

    
   div.lead.container {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -2;

   }
   div.privacy {
    position: absolute;
    top: 150vh;
   }
   footer#contact1 {
    position: relative;
    top: 40vh;
   }
   div#contact2 {
    position: relative;
    display: none;
   }
   body.index {
    position: absolute;
    margin: 0 1.5vw;
   }
    
    section.row-alt {
        z-index: -2;
    }
    div#back {
        position: relative;
        z-index: -2;
    }
    @media screen and (orientation: portrait) {
    }

    @media screen and (orientation: landscape) {  
    }
}