<!DOCTYPE html><!--  This site was created in Webflow. https://webflow.com  --><!--  Last Published: Sat Jul 27 2024 17:46:24 GMT+0000 (Coordinated Universal Time)  -->
<html lang=en data-wf-page="661e91263937928082595fc8" data-wf-site="661e91253937928082595f31">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta content="../images/AIImplications.webp" name="image">
  {% include head.html %}
</head>
<body>
  <nav>
  {% include nav.html %}
  </nav>
<div markdown="1">
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <div class="description">
    <p>{{ page.description }}</p>
  </div>
 <article>
    {{ content }}
 </article>
 </div>
 <footer>
  {% include footer.html %}
 </footer>
 
</body>
</html>