---
layout: default
---
<h1>#{{ page.tag | replace: '-', ' ' }}</h1>
<ul>
  {% for post in site.posts %}
    {% assign is_match = false %}
    {% for t in post.tags %}
      {% assign t_slug = t | slugify %}
      {% if t_slug == page.tag %}
        {% assign is_match = true %}
      {% endif %}
    {% endfor %}
    {% if is_match %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> <small>— {{ post.date | date: "%b %e, %Y" }}</small></li>
    {% endif %}
  {% endfor %}
</ul>
