
h1 {
    display:block;
    background-color: #54677e;
    font-family: 'Optima';
    color: #DEC6AB;
    font-size: 350%;
    width: 100%;
    padding: 5%;
    text-align: center;
    text-shadow: 2px 2px 2px#1b2614;
    
}
h3 {
    font-family: 'Futura', sans-serif;
    font-size: 200%;
    color: #54677e;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px;
    text-decoration: underline;
    text-shadow: 5px 5px 5px #7c6f60;
    

}
div#welcome-section {
    text-align: center;

}
nav#navbar {
    display: inline-block;
    text-align: center;
    font-family: cursive, fantasy;
    color: #29333e;
    width: 100%;
    padding-bottom: 5px;
    background-color: rgba(111, 135, 166, 0.3);
    /* margin-left: 10%; */
}

body {
    background-color: #DEC6AB
}

a {
    color: #29333e;
}
li.nav-item {
    transform: translate(0px, -10px);
    color: #1b2614;
    padding-top: 20px;
    margin-top: 0;
    display: inline-block;
    font-size: 125%;
    margin-left: 7.5%;
    margin-right: 7.5%; 
   

}
.navbar-brand {
    display: none;
}
p {
    font-family: Optima, Script;
    font-size: 120%;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
}
 
i.fa-brands.fa-linkedin {
    display: inline-block;
    color: #1e2a15;
    transform: translate(0px, 7.5px);
    margin: auto;
    padding-bottom: 20px;
}

img {
    display: inline-block;
    width: 30%;
    margin: auto;
    padding: 7%;   
}
div.project-tile, div.profile-link, div.linkedin {
    display: inline-block;
    width: 30%;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Futura', sans-serif;
    font-size: 120%;
    color: #1e2a15;
    vertical-align: middle;
}
footer {
    padding-bottom: 20px;
    text-align: center;
    font-family:
    'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#54677e;
    color:#DEC6AB;
    font-size: 150%;
}